.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 150px;
  //width: 40%;
  min-width: 300px;
  border-radius: 0.5em;
  box-shadow: -1px 0em 1em 0em rgba(0, 0, 0, 0.5);
  //margin: 1em;
  margin-top: 2em;
  overflow: hidden;
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);


  &__edit {
    display: grid;
    align-items: center;
    height: 100%;
    background-color: rgb(204, 146, 58);
  }

  &__info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(204, 146, 58);

    &__votes {
      background-color: rgb(255, 255, 255);
      height: 100%;
      color: rgb(79, 79, 79);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      &__icon {
        font-size: 1.5em;
        margin-right: 0.5em;
        margin: 6px;
      }
    }

    &__shere {
      background-color: rgb(15, 52, 79);
      height: 100%;
      display: grid;
      align-items: center;
    }

    &__views {
      background-color: rgb(57, 182, 250);
      height: 100%;
      display: grid;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    height: 100%;
    background-size: cover;
  }

  &__status {
    position: absolute;
    float: left;
    font-weight: bold;
    background-color: rgb(15, 52, 79);
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0 0.5em 1em -0.5em rgba(0, 0, 0, 0.5);
    top: 15px;
    padding: 5px 20px 5px 20px;
    display: grid;
    font-size: 0.9em;
  }

  &__title {
    position: absolute;
    float: left;
    border-radius: 0px 5px 0px 0px;
    background-color: #ffffff;
    top: 81%;
    color: rgb(15, 52, 79);
    font-weight: bold;
    text-align: start;
    padding: 5px 5px 5px 5px;
  }
}