@import "style/vars";

.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 150px;
  min-width: 300px;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);

  &:not(:first-child) {
    margin-top: 25px;
  }

  &__edit {
    display: grid;
    align-items: center;
    height: 100%;
    background-color: rgb(204, 146, 58);
  }

  &__info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: solid 1px $border_gray;
    border-radius: 0 0.5em 0.5em 0;

    &__votes {
      background-color: rgb(255, 255, 255);
      height: 100%;
      color: rgb(79, 79, 79);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      &__icon {
        font-size: 1.5em;
        margin: 6px;
      }
    }

    &__share {
      background-color: white;
      color: $mid_gray;
      height: 100%;
      display: grid;
      align-items: center;
    }

    &__views {
      background-color: $light_blue;
      height: 100%;
      display: grid;
      align-items: center;
    }

    & > div {
      padding: 0 6px;

      &:not(:last-child) {
        border-bottom: solid 1px $border_gray;
      }
    }
  }

  &__image {
    position: relative;
    height: 100%;
    background-size: cover;
    border-radius: 0.5em 0 0 0.5em;
    border: solid 1px $border_gray;
    border-right: none;
  }

  &__status {
    position: absolute;
    float: left;
    font-weight: bold;
    background-color: $dark_blue;
    border-radius: 0 20px 20px 0;
    top: 15px;
    padding: 5px 20px 5px 10px;
    display: grid;
    font-size: 0.9em;
    border: solid 1px white;
    border-left: none;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right:25px;
    font-weight: bold;
    text-align: left;
    padding: 6px 10px;
    background-color: white;
    color: black;
    border-radius: 0 0.5em 0 0.5em;
    font-size: .875em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}