.about {
  &__page {
    position: absolute;
    background: #103450;
    height: 100vh;
    width: 100%;
    top: 0;
  }
  &__para {
    color: #c3c2c2;
    // color:$primary_text;
   
    text-align: center;
    margin-bottom: 0.5em;
   
  }

  &__main{
    img{
      width:100%;
    }
  }

  &__title {
    color: white;
    font-weight: 600;
    text-align: center;
    margin: 3em 0 1em;
    font-size: 1.1em;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    background: white;
    height: 70px;

    &__add {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;

      img {
        width: 66px;
        height: 50px;
      }
    }
  
   
  }



  &__main {
    max-width: 600px;
    margin: auto;
  }
  &__learnMore{
    padding: 50px;
    text-align: center;
  }
}


// create button icon
.css-1d6wzja-MuiButton-startIcon {
  margin-right: 4px !important;
  margin-left: -10px !important;
}





.home-img {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 10px);
  border-radius: 7px;
}

.learn-more-btn {
  text-align: center;
}