@import 'style/vars';

.message-truncate {
  color: $gray;
  text-align: right;
  cursor: pointer;
}
.bottom-nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}
.bottom-buttons-left {
  display: flex;
  align-items: center;
}
.bottom-buttons-left > div {
  margin-right: 30px;
  display: flex;
}
.upvote, .downvote {
  margin-left: 10px;
}
.avatar {
  margin-right: 12px;
}
.content {
  padding-right: 5px;
  width: 100%;
}
.message-container {
  width: 100%;
}