@import "style/vars";

.button-app-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  border-top: solid 1px $border_gray;
}

.nav-links {
  text-decoration: none;
}