.button-app-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100%;
  background-color: white;
}

.nav-links {
  text-decoration: none;
}