

// colors
$primary_color: #103450;;
$primary_text: white;
$accent:#39B6FA;
$main:white;
$main_header:rgba(0, 0, 0, 0.78);
$main_subHeader:rgba(0, 0, 0, 0.72);
$main_text:rgba(0, 0, 0, 0.575);
$accent_text:white;
$error:red;
$warning: #FA3E3E;
$success: #0ccf05;

//sizes
$max_wrapper:600px;
$reg_padding:20px;
$border_radius:10px;

@import '../pages/About/About.scss';
@import '../components/ButtonAppBar/ButtonAppBar.scss';
//@import '../pages/Questions/Questions.scss';
@import '../pages/Login/Login.scss';

body,
html {
  color: $main_text;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 550px) {

  body,
  html {
    font-size: 18px;
  }
}

// texts
h1 {
  color: $main_header;
  font-size: 1.6rem;
}

h1 {
  color: $main_header;
  font-size: 1.4rem;
}
@media only screen and (max-width: 550px) {

 h1{
    font-size: 1.3rem;
  }
  h2{
    font-size: 1.15rem;
  }
}

h2 {
  color: $main_subHeader;
  font-weight: 600;
}



.question {
  font-style: italic;
  color: $main_subHeader;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.35rem;
}

//components
.wrapper {
  max-width: 550px;
  margin: auto;
}

@media only screen and (max-width: 550px) {
  .wrapper {
    margin: 0rem 2rem;
  }
}

.bottomNavButtons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  background-color: none;

  a {
    text-decoration: none;
    margin: 0rem 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .bottomNavButtons {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: $main;
    width: 100%;
    justify-content: center;
    display: flex;
    min-height: 4rem;
    align-items: center;
  }
}


.instruction {
  &__box {

    margin: 2rem 0rem;
  }

  &__row {
    display: flex;
    gap: 20px;
    margin: 1rem 0rem;
  }

  &__number {
    font-size: 2.14rem;
    display: flex;
    width: 3rem;
    align-items: center;
    border-right: 2px solid brown;
  }

  &__text {
    font-size: .8rem;
  }
}

.indicator {
  width: 100%;
  background-color: $main;
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 550px;
  margin: auto;

  hr {
    position: absolute;
    width: 98%;
    top: 50%;
    transform: translateY(-1px);
    margin: 0px;
    // z-index: -1;
  }

  a {
    width: fit-content;
    text-decoration: none;
    display: flex;
    justify-content: center;
    z-index: 1;
    user-select: none;

    div {
      background-color: white;
      border: 1px solid gray;
      width: 2rem;
      height: 2rem;
      border-radius: 3rem;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      user-select: none;
    }
  }

  &--current {
    background-color: #0F344F !important;
    color: white !important;
  }
}

@media only screen and (max-width: 550px) {
  .indicator {
    margin: 0rem 2rem;
    width: calc(100vw - 6rem);
  }
}


.uploadPanel {
  border: 2px dashed $accent;
  border-radius: $border_radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  cursor: pointer;
  user-select: none;
  color: $accent;

  &__wrapper{
    width:100%;
    height:250px;
    position:relative;

    img{
      width: 100%;
    }
  }

  &__loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.share{
  &__wrapper{
    margin-top:45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   gap:20px;
  }
  &__preview{
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000036;
    border-radius: 10px;
    margin: 20px 0px 120px 0px;
    width: 100%;
    gap: 10px;

    h2{
      font-size:.9rem;
    }
    p{
      font-size: .7rem;
    }
  }
}

.charCount{
  font-size:.8rem;
  color: $success;
  &--ok{
    color:$success;
  }
  &--min, &--max{
    color: $error;
  }
}

//colors
.warnings {
  &--text {
    color: $warning;
    font-weight: 600;
  }
}

.accent {
  color: $accent;
}

