// colors
$primary_color: blue;
$primary_text: white;
$accent:orange;
$main:white;
$main_header:rgba(0, 0, 0, 0.78);
$main_subHeader:rgba(0, 0, 0, 0.68);
$main_text:rgba(0, 0, 0, 0.575);
$accent_text:white;
$error:red;

//sizes
$max_wrapper:600px;
$reg_padding:20px;

body,
html {
  color: $main_text;
  font-size: 15px;
}
// texts
h1 {
  color: $main_header;
}
h2{
  color: $main_subHeader;
}
.question{
  font-style: italic;
  color:$main_subHeader;
}

.wrapper{
  max-width:550px;
  margin:auto;
}

.warnings{
  &--text{
    background-color:red;
  }
}



//colors