$dark_blue: #0F344F;
$dark_gray: #333;
$border_gray: #c4c4c4;
$gray: #8A8A8A;
$mid_gray: #4F4F4F;
$light_gray: #E5E5E5;
$lighter_gray: #EFEFEF;
$turquoise: #1EDCA1;
$gold: #CC923A;
$light_blue: #39B6FA;
$warning: #FA3E3E;
