{
  "extends": [
    "airbnb-base/legacy",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["import"],
  "rules": {
    "strict": ["off", "global"],
    "max-len": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],

    "no-console": "off"
  }
}