@import "style/vars";

.page.page-questions {

  .page-content {
    padding: 0 25px 80px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
  }

  .tabs {
    .tabs-header {
      .tab-header {
        width: 25%;
      }
    }
  }
}