

.TabsWrapper {
  display: flex;
  justify-content: center;
}

.voteListWrapper {
  //height: 73vh;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;

  .voteList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    font-size: 60px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 10vh;

  .logo {
    height: 30px;
    alt: "no image";
    margin: 0.5em 0 0.5em 1em;
  }
}