.tabs {
  flex-grow: 2;
  display: flex;
  flex-direction: column;

  .tabs-header {
    width: 100%;
    height: 50px;
  }

  .tab-header {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      cursor: default;
      font-weight: 700;
      border-bottom: solid 2px;
    }
  }
}