@import "style/vars";

.add-solution {
  display: flex;
  flex-direction: column;
  height: 100%;

  h2 {
    //padding: 0 30px 0 25px;
  }

  .step {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 0 30px 0 25px;
  }

  .solution-card {
    margin-top: 25px;
  }

  .buttons {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    padding-inline-start: 30px;

    li {
      line-height: 1.4em;

      &:not(:last-child) {
        margin-bottom: 1.4em;
      }
    }
  }
}