@import "style/vars";

.vote-tab {
  display: flex;
  flex-direction: column;
  padding: 30px 15px 30px 25px;

  .vote-option {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 36px 1fr 5fr 1fr 36px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .option-bar {
      flex-grow: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .fill {
        position: absolute;
        z-index: -1;
        background-color: $light_blue;
        width: 0;
        height: 100%;
        transition: width .5s ease-in;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      .option-title {
        padding: 0 10px;
      }
    }

    .option-votes {
      margin: 0 12px;
      font-size: .9em;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .button {
      width: 34px;
      flex-grow: 0;
      padding: 10px;
      border-radius: 6px;

    }
  }

  .expanded {
    margin: -10px 0 20px;
    border-bottom: solid 1px $border_gray;
  }
}